.posts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 23vh 6vw 3vh 6vw;
  overflow: hidden;
  background-color: #24292f;
}

.post {
  margin-bottom: 30px;
  border: 2px solid grey;
  overflow: hidden;
  background-color: white;
  h2 {
    margin-bottom: 15px;
  }
  p {
    font-size: 20px;
  }
}
